$primary: #6ed8be;//#AAE8D9;
$secondary: #F8EF53;
$accent:#EE255C;

$phone: '(max-width: 600px)' !default;

@mixin media($query: $desktop) {
  @media #{$query} {
    @content;
  }
}

.pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  > img {
    width: 40px;
    margin-right: 20px;
  }
  > h2 {
    font-size: 30px;
    margin: 0;
    color: $primary;
    font-weight: 700;
  }
}