<div class="productList">
  <div class="row">
    <div
      class="col-md-4 col-sm-6 col-12 mb-4"
      v-for="product in products"
      :key="product.id"
    >
      <div class="card">
        <a
          href="javascript:;"
          class="card__img"
          :style="{ backgroundImage: 'url('+ product.imageUrl + ')' }"
        ></a>
        <div class="card__category">{{ product.category }}</div>
        <a
          class="card__title"
          href="jvavscript:;"
        >{{ product.title }}</a>
        <div class="card__description">{{ product.description }}</div>
        <div class="card__price">
          <div class="card__originPrice">NT{{ product.origin_price | currency}}</div>
          <div class="card__specialPrice">NT{{ product.price | currency }}</div>
        </div>
        <a
          href="javascrip:;"
          class="card__addCart"
        >加入購物車</a>
      </div>
    </div>
  </div>
</div>