@import '~@/assets/style/utils';
.categories{
  display: flex;
  flex-direction: column;
  a {
    border: 1px solid #ccc;
    background-color: lighten($primary, 25%); 
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 20px;
    color: $accent;
    font-weight: 500;
    text-decoration: none;
    transition: border .5s;
    &:hover {
      border: 1px solid lighten($accent, 10%);
    }
  }
}
