<div class="productCard">
  <div class="card">
    <div class="card__img">
      <a
        href="javascript:;"
        :style="{ backgroundImage: 'url('+ product.imageUrl + ')' }"
        @click="productDetail(product.id)"
      ></a>
    </div>
    <div class="card__category">{{ product.category }}</div>
    <a
      class="card__title"
      href="jvavscript:;"
      @click="productDetail(product.id)"
    >{{ product.title }}</a>
    <div class="card__description text-truncate">{{ product.description }}</div>
    <div class="card__price">
      <div class="card__originPrice">NT{{ product.origin_price | currency}}</div>
      <div class="card__specialPrice">NT{{ product.price | currency }}</div>
    </div>
    <a
      href="javascrip:;"
      class="card__addCart"
      @click="addCart(product.id)"
    ><i
        class="fas fa-spinner fa-spin"
        v-if="loadingItem === product.id"
      ></i>
      <span v-else>放入購物車</span>
    </a>
  </div>
</div>