@import '~@/assets/style/utils';
.navbar{
  max-width: 1024px;
  margin: auto;
  background-color: lighten($primary, 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: {
    top: 20px;
    bottom: 10px;
  }
  .logo {
    background-color: $accent;
    border-radius: 10px;
    > a {
      display: block;
      width: 300px;
      line-height: 90px;
      text-align: center;
      text-decoration: none;
      font-weight: 900;
      font-size: 38px;
    }
  }
  nav {
    > a {
      color: $accent;
      display: inline-block;
      line-height: 40px;
      font-weight: 900;
      text-decoration: none;
      font-size: 24px;
      transition: all 0.3s cubic-bezier(0.5, 0, 0.32, 1.88);
      &:hover {
        box-shadow: inset 0px -4px 0px $accent;
      }
    }
  }
  .router-link-exact-active {
    box-shadow: inset 0px -4px 0px $accent;
  }
}
