<div class="promotions">
  <div class="pageTitle">
    <img src="@/assets/img/promotions.png" />
    <h2>優惠活動</h2>
  </div>
  <div class="promotions__item">
    <div class="promotions__item__left"></div>
    <div class="promotions__item__content">
      輸入代碼
      <strong class="code">小心牙齒掉光</strong>
      可享87折
    </div>
    <div class="promotions__item__right"></div>
  </div>
  <div class="promotions__item">
    <div class="promotions__item__left"></div>
    <div class="promotions__item__content">
      輸入代碼
      <strong class="code">給你看牙醫</strong>
      可享38折
    </div>
    <div class="promotions__item__right"></div>
  </div>
</div>